[submodule "VibeCoffee-BackEnd-ADM"]
	path = VibeCoffee-BackEnd-ADM
	url = https://github.com/Cosme-CR/Back-End-API-ADM
[submodule "Front-end-VibeCoffee-ADM"]
	path = Front-end-VibeCoffee-ADM
	url = https://github.com/Vitorisidio/Front-end-ADM
[submodule "back-api-vibecoffee-landingpage"]
	path = back-api-vibecoffee-landingpage
	url = https://github.com/Cosme-CR/Back-End-API-LP
[submodule "Front-end-VibeCoffee-landing-page"]
	path = Front-end-VibeCoffee-landing-page
	url = https://github.com/Vitorisidio/Front-end-LP
